/* This file contains hacks specific to IE6 */

/* Fix position of search box
This looks slightly different than in other browsers, but is still acceptable */
#container #header #links .search {
margin-right: 0px;
}

/* Fix rollovers not workign right
links must be targeted directly with a classname due to poor IE6 css support */
#container #nav li.home a.home {
  background: url(/img/layout/homeButton.gif) #eeeeee;
  width: 74px
}
#container #nav li.onhome a.onhome {
  background: url(/img/layout/onhomeButton.gif) #eeeeee;
  width: 74px
}
#container #nav li.about a.about {
  background: url(/img/layout/aboutButton.gif) #eeeeee;
  width: 98px
}
#container #nav li.onabout a.onabout {
  background: url(/img/layout/onaboutButton.gif) #eeeeee;
  width: 98px
}
#container #nav li.data a.data {
  background: url(/img/layout/dataButton.gif) #eeeeee;
  width: 68px
}
#container #nav li.ondata a.ondata {
  background: url(/img/layout/ondataButton.gif) #eeeeee;
  width: 68px
}
#container #nav li.software a.software {
  background: url(/img/layout/softwareButton.gif) #eeeeee;
  width: 86px
}
#container #nav li.onsoftware a.onsoftware {
  background: url(/img/layout/onsoftwareButton.gif) #eeeeee;
  width: 86px
}
#container #nav li.instrumentation a.instrumentation {
  background: url(/img/layout/instrumentationButton.gif) #eeeeee;
  width: 136px
}
#container #nav li.oninstrumentation a.oninstrumentation {
  background: url(/img/layout/oninstrumentationButton.gif) #eeeeee;
  width: 136px
}
#container #nav li.publications a.publications {
  background: url(/img/layout/publicationsButton.gif) #eeeeee;
  width: 112px
}
#container #nav li.onpublications a.onpublications {
  background: url(/img/layout/onpublicationsButton.gif) #eeeeee;
  width: 112px
}

/* Fix small bug with titles on program grid being too tall, just sets to solid background instead of image */
#container #main #rightCol #programGrid div p a {
  background: #f4f4f4;
}

/* Fix IE Bug with spacing between block items in a list */
#container #nav ul li ul li {
  float: none;
}

/* Individual fixes need to be defined to fix menu items for IE6
These classes will adjust a list item upward as necessary in multiples of 3 */
#container #nav ul li ul li.ieFix3 {top: -3px}
#container #nav ul li ul li.ieFix6 {top: -6px}
#container #nav ul li ul li.ieFix9 {top: -9px}
#container #nav ul li ul li.ieFix12 {top: -12px}

/* Fix for spacing between items on inner page left menu */
#container #main #leftInner #menu li a:hover {
  background-position: 0% 102%;
}

/* Fix left calendar blowing up the layout */
#container #main #leftCol #calendar {
  border-right: 1px solid #FFFFFF;
}

/* 04/14/9 Another fix for the calendar occasionally blowing up the layout with certain content in it */
#container #main #leftCol #calendar p {
  border: 1px solid #e9e9e9;
}
