/* ==============
 * Global classes
 * ============== */
.wrapper {
  width: 980px;
  margin: 0 auto;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #dedede;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  background: white; }

.photoLeft {
  float: left;
  margin: 0 1em 1em 0;
  padding: 3px; }

.center {
  text-align: center !important; }

.content-clear {
  clear: both; }

/* ========================
 * Global CSS3 Enhancements 
 * ======================== */
a,
#header a img,
.button a,
.news-box-photo a img,
.search-submit,
#feature-monitor a img,
#feature-left-links ul li a,
.nivo-controlNav a img,
#coverflow .carousel-controls a {
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1); }

#alert-bar-container .button a:hover,
#feature-left-links ul li a:hover,
#coverflow .carousel-controls a:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
  filter: alpha(opacity=100); }

#alert-bar-container .button a {
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 90 ")";
  filter: alpha(opacity=90); }

#logo a img:hover,
#nsf-logo a img:hover,
#top-menu a img:hover,
.button a:hover,
.news-box-photo a img:hover,
.search-submit:hover,
#feature-monitor a img:hover,
#coverflow .carousel-controls a {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
  filter: alpha(opacity=80); }

#feature-left-links ul li a {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 30 ")";
  filter: alpha(opacity=30); }

.news-box-photo img,
.photo-right img,
.photo-left img,
.photo-center img {
  -webkit-box-shadow: 3px 3px 3px 0 rgba(150, 150, 150, 0.3);
  -moz-box-shadow: 3px 3px 3px 0 rgba(150, 150, 150, 0.3);
  box-shadow: 3px 3px 3px 0 rgba(150, 150, 150, 0.3); }

/* ======
 * Header
 * ====== */
#header-container {
  background-image: url(/static/img/layout/backgrounds/header-gradient.png);
  height: 90px;
  width: 100%;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.15); }

#header {
  width: 980px;
  margin: 0 auto 1em auto;
  height: 90px;
  position: relative; }

#header-left {
  width: 650px;
  float: left; }

#logo {
  float: left;
  margin-right: 1em; }
  #logo img {
    height: 90px; }

.services {
  height: 70px;
}

#logo-name {
  position: absolute;
  top: 35px;
  left: 130px; }

#header-right {
  width: 326px;
  float: right;
  position: relative; }

ul#top-menu {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none; }
  ul#top-menu li {
    margin: 0 0 0 10px;
    padding: 0;
    display: inline; }
    ul#top-menu li a:link, ul#top-menu li a:active, ul#top-menu li a:visited {
      color: #b0b0b0;
      text-decoration: none;
      font-size: 85%; }
    ul#top-menu li a:hover, ul#top-menu li a:focus {
      color: #cccccc; }

#nsf {
  clear: both; }
#nsf-logo {
  float: right;
  margin: 0;
  padding: 0 8px 0 0;
  width: 56px;
  position: absolute;
  top: 15px;
  right: 0px; }
#nsf-logo img {
    width: 56px; }
  #nsf #nsf-text {
    font-size: 77%;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    font-stretch: condensed;
    line-height: 77%;
    color: #868686;
    width: 260px; }

/* =======
 * Feature
 * ======= */
#feature {
  background-color: white;
  width: 980px;
  height: 380px;
  clear: both;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 91; }

#feature-top-right {
  background-color: #492588;
  background-image: url(/static/img/layout/backgrounds/purple-box.png);
  background-repeat: repeat-x;
  height: 170px;
  width: 260px;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  overflow: hidden; }
  #feature-top-right .button a {
    color: #5b2fa8;
    border: none;
    display: block;
    font-size: 116%;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 172px;
    z-index: 93; }

#feature-bottom-right {
  background-color: white;
  height: 170px;
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0; }
  #feature-bottom-right .button {
    text-align: right;
    margin: 5px 20px 0 0; }

#feature-monitor {
  width: 250px;
  height: 135px;
  overflow: hidden;
  margin: 0 auto; }
  #feature-monitor img {
    max-width: 250px;
    max-height: 135px; }

/* =========
 * Alert Bar
 * ========= */
#alert-bar-container {
  width: 960px;
  clear: both;
  margin: 0px auto;
  position: relative;
  z-index: 92;
  padding: 8px 0px 8px 15px;
  overflow: auto; }
  #alert-bar-container .button {
    float: right; }
    #alert-bar-container .button a {
      color: white;
      border: none; }
      #alert-bar-container .button a:hover {
        background-position: 99% center; }

#alert-bar-text {
  width: 650px;
  float: left; }

.alert-bar {
  font-size: 123.1%;
  font-weight: normal;
  line-height: 1.5em;
  padding: 5px 5px 5px 15px !important; }
  .alert-bar a {
    color: #fffbd6; }
    .alert-bar a:hover {
      color: white; }
  .alert-bar .button {
    margin: 0 15px 0 0; }
    .alert-bar .button a {
      padding: 7px 30px 7px 10px;
      font-size: 116%; }

.red {
  background-color: #a7250f; }

.orange {
  background-color: #af6a19; }

.green {
  background-color: #64793f; }

.gray {
  background-color: #7b7b7b; }

/* ==================
 * Coverflow Carousel
 * ================== */
#coverflow-container {
  background-color: #dbdbdb;
  background-image: url(/static/img/layout/backgrounds/coverflow.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  width: 980px;
  height: 200px;
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

#coverflow {
  width: 880px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }
  #coverflow a {
    outline: none; }
  #coverflow .carousel-images img {
    visibility: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1) 0.5em 0px 0px black;
    -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1) 0.5em 0px 0px black;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1) 0.5em 0px 0px black;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
  #coverflow .carousel-controls .carousel-prev {
    position: absolute;
    top: 85px;
    left: 12px; }
  #coverflow .carousel-controls .carousel-next {
    position: absolute;
    top: 85px;
    right: 12px; }

/* ========
 * Tooltips
 * ======== */
#aToolTip {
  position: absolute;
  display: none;
  z-index: 50000; }
  #aToolTip .aToolTipContent {
    position: relative;
    margin: 0;
    padding: 0; }

.aToolTipBox {
  background-color: #555555;
  background-image: url(/static/img/layout/backgrounds/black-70.png);
  color: white;
  margin: 0;
  padding: 6px 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px 0px #111111 0.5em 0px 0px black;
  -moz-box-shadow: 2px 2px 5px 0px #111111 0.5em 0px 0px black;
  box-shadow: 2px 2px 5px 0px #111111 0.5em 0px 0px black; }
  .aToolTipBox #aToolTipCloseBtn {
    background-image: url(/static/img/layout/buttons/close.png);
    background-repeat: no-repeat;
    display: block;
    height: 18px;
    width: 18px;
    text-indent: -9999px;
    outline: none;
    position: absolute;
    top: -20px;
    right: -30px;
    margin: 2px;
    padding: 4px; }

/* ===================
 * Homepage News Boxes
 * =================== */
#home-news-boxes {
  background-color: white;
  width: 980px;
  margin: 0 auto 30px auto;
  padding: 0 0 10px 0;
  position: relative;
  z-index: 94;
  clear: both; }

.new-box {
  width: 450px;
  height: 180px;
  float: left;
  margin: 30px 0 0 30px; }

.news-box-photo {
  width: 200px;
  float: left; }
  .news-box-photo img {
    background-color: white;
    padding: 3px; }

.news-box-content {
  margin: 0 0 0 200px;
  padding: 10px 0;
  font-size: 100%;
  width: 250px; }
  .news-box-content .button {
    text-align: right;
    margin: 0 15px 0 0; }

.news-box-title {
  margin: 0 0 10px 0; }
  .news-box-title a:link, .news-box-title a:active, .news-box-title a:visited {
    font-size: 123.1%;
    color: #343434;
    text-decoration: none; }
  .news-box-title a:hover {
    color: #4b00a3; }

.news-box-summary {
  margin: 0 0 20px 0; }

/* ====
 * Page
 * ====  */
/*
Gray for no reason? Commented out. RLN 2013-02-14
#site-container {
  background-image: url(/static/img/layout/backgrounds/site-container.png);
  background-position: 0 690px;
  background-repeat: repeat-x; }
*/

#page {
  background-color: white;
  width: 980px;
  margin: 0 auto 30px auto;
  padding: 0;
  position: relative; }

#col-single {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  overflow: auto; }

#col-left {
  width: 230px;
  position: absolute;
  left: 0px;
  margin: 0;
  padding: 0 0 20px 0; }

#col-right {
  width: 750px;
  margin: 0 0 0 230px; }

#page-content {
  padding: 30px;
  line-height: 1.5em;
  overflow: auto; }

/* ===========
 * Pop-open resources bar
 * =========== */

.resource-wrapper {
    background: none repeat scroll 0 0 #F2F2F2;
    display: none;
    overflow: auto;
}
.resources {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
.resources .search {
    position: absolute;
    right: 0;
    top: 8px;
}
.resources a {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #FFFFFF;
    color: #333333;
    display: table-cell;
    font-size: 1em;
    height: 55px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
}
.resources a:last-of-type {
    border-right: 1px solid #CCCCCC;
}
.resources a:hover {
    background: none repeat scroll 0 0 #D2D2D2;
    color: #42178A;
}
/* Corrects a discrepancy b/t HQ and DMC base styles */
.resources form {
  margin: 0;
}

/* ===========
 * Breadcrumbs
 * =========== */
#breadcrumbs {
    background: linear-gradient(#FFFFFF, #F2F2F2) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DEDEDE;
    font-weight: normal;
    margin: 0 auto;
    padding: 10px 20px;
    width: 940px;
}
#breadcrumbs ul.breadcrumbs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#breadcrumbs ul.breadcrumbs li {
    display: inline;
}

/* =======
 * Submenu
 * ======= */
#submenu {
  margin: 0 0 20px 0;
  padding: 0;
  border-right: 1px solid #dadada; }
  #submenu ul, #submenu ul li {
    list-style: none;
    margin: 0;
    padding: 0; }
    #submenu li a:link, #submenu li a:active, #submenu li a:visited {
      background: #ebebeb;
      padding: 8px 10px;
      font-size: 13px;
      font-weight: bold;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #dadada;
      display: block;
      text-decoration: none;
      color: #343434; }
    #submenu li a:hover, #submenu li a:focus {
      background: #f4f4f4;
      color: #4b00a3; }
    #submenu li li a:link, #submenu li li a:active, #submenu li li a:visited {
      background: #f4f4f4 url(/static/img/layout/arrows/right.png) 11px 10px no-repeat;
      font-size: 12px;
      padding: 6px 10px 6px 20px; }
    #submenu li li a:hover {
      background: #f8f8f8 url(/static/img/layout/arrows/right.png) 11px 10px no-repeat; }
    #submenu li li li a:link, #submenu li li li a:active, #submenu li li li a:visited {
      background: #f8f8f8 url(/static/img/layout/arrows/middot-gray-small.png) 24px 11px no-repeat;
      font-size: 11px;
      padding: 6px 10px 6px 33px;
      font-weight: normal; }
      #submenu li li li a:hover {
        background: #fff url(/static/img/layout/arrows/middot-gray-small.png) 24px 11px no-repeat; }
    #submenu .archives {
      padding: 10px; }
.archive-year {
  border-bottom: 1px dotted #d9d9d9; }
/* =======
 * Buttons
 * ======= */
.button a {
  background-image: url(/static/img/layout/buttons/semi-white-purple-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  color: #787878;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 4px 28px 4px 10px;
  border: 1px solid #dadada;
  font-size: 85%;
  font-weight: bold;
  white-space: nowrap; }
  .button a:hover {
    background-position: 99% center; }

/* ======
 * Photos
 * ====== */
.photo-right {
  margin: 0 0 20px 20px;
  float: right; }

.photo-left {
  margin: 0 20px 20px 0;
  float: left; }

.photo-center {
  text-align: center;
  margin: 5px 0 20px 0; }

.photo-right img, .photo-left img, .photo-center img {
  background: white;
  padding: 3px; }

/* ============
 * Search Forms
 * ============ */
.search {
  background-image: url(/static/img/layout/backgrounds/search.png);
  background-position: top left;
  background-repeat: no-repeat;
  width: 210px;
  height: 30px;
  margin: 0 auto 15px auto;
  z-index: 92;
  position: relative; }

.search-input {
  background: none;
  border: none;
  width: 180px;
  float: left;
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 100%;
  font-weight: bold;
  color: #999999; }

.search-submit {
  float: right;
  position: relative;
  top: 1px;
  right: 3px; }

/* ======
 * Footer
 * ====== */
#footer {
  width: 980px;
  margin: 2em auto;
  padding: 0 0 40px 0;
  font-size: 85%;
  color: #9a9a9a; }
  #footer ul, #footer li {
    list-style: none;
    margin: 0;
    padding: 0; }
    #footer ul a:link, #footer ul a:active, #footer ul a:visited, #footer li a:link, #footer li a:active, #footer li a:visited {
      color: #9a9a9a;
      text-decoration: none; }
    #footer ul a:hover, #footer li a:hover {
      color: #bcbcbc; }
  #footer .search {
    background-image: url(/static/img/layout/backgrounds/search-footer.png);
    background-position: top left;
    background-repeat: no-repeat;
    width: 167px;
    height: 23px;
    margin: 0; }
  #footer .search-input {
    background: none;
    border: none;
    width: 135px;
    float: left;
    position: relative;
    top: 3px;
    left: 10px;
    font-size: 100%;
    color: #999999; }
  #footer .search-submit {
    float: right;
    position: relative;
    top: 1px;
    right: 3px; }

#footer-links {
  margin: 0 0 20px 0;
  text-align: center;
  overflow: auto;
  height: 300px; }
  #footer-links ul {
    margin: 0 0 10px 0; }
    #footer-links ul li {
      padding: 0 0 0 5px; }
      #footer-links ul li.footer-link-heading {
        margin: 0 0 5px 0;
        padding: 0; }
    #footer-links ul ul, #footer-links ul ul ul {
      margin: 0 0 0 10px; }

.footer-links-box {
  display: inline-block;
  float: left;
  margin: 0 20px 0 0;
  text-align: left;
  vertical-align: top; }

.first-box {
  position: absolute;
  left: 5%; }

.second-box {
  position: absolute;
  left: 35%; }

.third-box {
  position: absolute;
  left: 75%; }

.footer-link-heading {
  font-size: 93%;
  font-weight: bold; }

#footer-bottom {
  background-image: url(/static/img/layout/backgrounds/footer-bottom.png);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 20px;
  line-height: 1.4em;
  clear: both; }
  #footer-bottom span {
    line-height: 1.2em;
    font-size: 197%; }
