/* ============
   HTML Figures
   ============ */

figure
  display: table
  width: 1px
  img, figcaption
    display: table-row
    font:
      style: italic
    margin: 0 auto

figure.shadow
  padding: 1em
  background: none repeat scroll 0 0 $white
  border: 1px solid $vltgray
  @include border-radius(5px)
  @include box-shadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.3))

figure.left
  float: left
  margin: 0 10px 0 0

figure.right
  float: right
  margin: 0 0 0 10px

/* =================
   Global DMC styles
   ================= */

p.inline-link a
  &:after
    position: absolute
    padding-left: 0
    content: "\00a0\00bb"

p.italic
  font:
    style: italic

p.small
  font:
    size: 77%
  line-height: 77%

/* =================
   DMC landing styles
   ================= */

.accordion-data
  background: $white url(/static/img/dms/dmc/accordion_landing/data.png) no-repeat bottom right !important
.accordion-ws
  background: $white url(/static/img/dms/dmc/accordion_landing/ws.png) no-repeat bottom right !important
.accordion-download
  background: $white url(/static/img/dms/dmc/accordion_landing/download.png) no-repeat bottom right !important
.accordion-support
  background: $white url(/static/img/dms/dmc/accordion_landing/support.png) no-repeat bottom right !important
.accordion-tools
  background: $white url(/static/img/dms/dmc/accordion_landing/tools.png) no-repeat bottom right !important

/* =================
   DMC table styles
   ================= */
table.data-table
  width: 100%
  border-collapse: collapse
  font:
    size: 77%
  tbody
    th
      background: #D9EDC3
    tr:nth-child(even)
      background: #E8E8E8
    tr:nth-child(odd)
      background: #FFFFFF
